<% provide(:title, 'All tasks')%>
<h1>Tasks index</h1>
<%= link_to 'New Task', new_task_path %>

<div class="container">
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>memo</th>
    </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.name %></td>
      <td><%= task.memo %></td>
      <td><%= link_to 'show', task %></td>
      <td><%= link_to 'edit', edit_task_path(task) %></td>
      <td><%= link_to 'destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</div>