<% provide(:title, 'All tasks')%>
<h1>Tasks index</h1>
<%= link_to 'New Task', new_task_path %>

<div class="container">
  <% @tasks.each do |task| %>
    <div class="card">
      <%= link_to(task, class: "card-link") do %>
      <% end %>
      <p class="task-name"><%= task.name %></p>
      <p class="task-memo"><%= task.memo %></p>
      <p class="task-time"><%= task.starts_at %> - <%= task.ends_at %></p>
    </div>
  <% end %>
</div>