<% provide(:title, 'task')%>
<h1>Task show</h1>
<%= link_to 'Index', tasks_path %>

  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>memo</th>
    </tr>
    <tr>
      <td><%= @task.id %></td>
      <td><%= @task.name %></td>
      <td><%= @task.memo %></td>
      <td><%= link_to 'edit', edit_task_path(@task) %></td>
      <td><%= link_to 'destroy', @task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>