<%= provide(:left_icon, (link_to image_tag("back_icon"), tasks_url, id: "back_icon")) %> 
<%= provide(:nav_title, "プロジェクト")%>
<div class="container">
  <% @projects.each do |project| %>
    <div class="card">
      <p class="project-name"><%= project.name  %></p>
    </div>
    <%= link_to 'edit', edit_project_path(project)  %>
    <%= link_to 'destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>

  <% end %>
</div>

<%= link_to image_tag('new_task.png'), new_project_path, class: "new-task-icon" %>