<%= form_for (task) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="area">
    <%= f.label :memo %>
    <%= f.text_area :memo, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :starts_at %>
    <%= f.datetime_field :starts_at, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :ends_at %>
    <%= f.datetime_field :ends_at, class: 'form-control' %>
  </div>
    <%= f.label :status %>
    <%= f.check_box :status, {class: 'form-control'}, 1, 0 %>
  
  <%= f.submit button_text, class: "btn btn-primary" %>
<% end %>